/* Import Azeret Mono font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;500;700&display=swap');

*{
    margin: 0;
    font-family: 'Azeret Mono', monospace;
    color: #0d1321;
}

/* Style for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.nav-title {
    color: #0d1321;
    font-family: 'Azeret Mono', monospace;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.btn {
    border: 2px solid #0d1321;
    border-radius: 8px;
    
    padding: 17px 24px 17px 24px;
    color: #0d1321;

    font-family: 'Azeret Mono', monospace;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.btn:hover {
    background-color: darkorange;
}


/* Style for Hero Section */

.hero-section{
    background: url("./images/Hero-bg.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px;
}
.hero-icon{
    margin: 32px;
}

.hero-icon img{
    width: 200px;
    height: 200px;
}

.hero-title{
    color: #0d1321;
    
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.hero-subtitle{
    color: #0d1321;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.contactMe{
    color: white;
    font-size: 20px;
    font-weight: 600;
    background: #0d1321;
}