/* Import Azeret Mono font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Azeret Mono', monospace;
    color: #0d1321;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-title {
    font-size: 28px;
    font-weight: 800;
}

.btn {
    border: 2px solid #0d1321;
    border-radius: 8px;
    padding: 17px 24px;
    color: #0d1321;
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
}

.btn:hover {
    background-color: darkorange;
}

/* Hero Section */
.hero-section {
    background: url("./images/Hero-bg.png") no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    gap: 24px;
}

.hero-icon img {
    width: 200px;
    height: 200px;
}

.hero-title {
    font-size: 32px;
    font-weight: 800;
}

.hero-subtitle {
    font-size: 16px;
    font-weight: 400;
    max-width: 600px;
}

.contactMe {
    color: white;
    font-size: 20px;
    font-weight: 600;
    background: #0d1321;
}


main {
    margin: auto 50px;
}

/* Why Web Development Section */
.why-webDev {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 50px auto;
    max-width: 1200px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}

.reason-head {
    text-align: center;
    margin-bottom: 36px;
}

.reason-title {
    font-size: 32px;
    font-weight: 800;
}

.reason-subtitle {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 24px;
}

.reason-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 48px;
    background: linear-gradient(90deg, #ffffff, #ffffff00 100%);
    border-radius: 16px;
    margin-bottom: 36px;
}

.reason-card-2 {
    flex-direction: row-reverse;
    background: linear-gradient(-90deg, #ffffff, #ffffff00 100%);
}

.card-title {
    font-size: 24px;
    font-weight: 800;
}

.card-details {
    font-size: 16px;
    font-weight: 400;
    color: #0d1321;
    opacity: 0.7;
    text-align: justify;
    margin: 16px 0px;
}

.learnMore {
    border: 1px solid #0d1321;
    background-color: transparent;
    padding: 10px 20px;
    opacity: 0.7;
}

/* My Inspiration Section */
.my-inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 50px auto;
    max-width: 1000px;
    text-align: center;
}

.insp-title {
    font-size: 32px;
    font-weight: 800;
}

.insp-details {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    line-height: 1.5;
    padding: 24px 0;
}

.insp-videos {
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 24px;
}

.insp-videos iframe {
    border-radius: 16px;
}

/* My Current Target Section */
.current-target {
    padding: 50px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    margin-bottom: 50px;
}

.target-description {
    text-align: center;
    margin-bottom: 36px;
}

.target-title {
    font-size: 32px;
    font-weight: 800;
}

.target-details {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding: 24px;
}

.target-cards {
    display: flex;
    gap: 36px;
    align-items: stretch;
}

.target-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    border-radius: 16px;
    flex: 1;
    min-height: 300px;
}

.target-card-html {
    background-color: #ff4c1e0d;
}

.target-card-css {
    background-color: #004ce80d;
}

.target-card-js {
    background-color: #ffdf000d;
}

.target-card img {
    width: 56px;
    height: 56px;
    margin-bottom: 16px;
}

.card-btn {
    font-size: 16px;
    font-weight: 700;
    color: #0d1321;
    background-color: transparent;
    padding: 10px;
    border: none;
    text-decoration: underline;
}

/* Support Section */
.support {
    padding: 50px;
    border-radius: 16px;
    background: linear-gradient(#00000080, #00000080), url("./images/handshake.jpg") no-repeat center center / cover;
}

.support-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.support-subtitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    opacity: 0.7;
    margin: 24px;
}

.support-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.support-form input {
    padding: 17px 24px;
    border: 1px solid #0d132126;
    border-radius: 8px;
    font-size: 20px;
    width: 60%;
    color: #0d1321;
}

.submit-btn {
    background-color: #ffffff;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #0d13210d;
    margin-top: 24px;
    border-radius: 16px;
}

.copyright {
    font-size: 16px;
    font-weight: 600;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a {
    text-decoration: none;
}

.social-links img {
    width: 30px;
    height: 30px;
}