/* Import Azeret Mono font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;500;700&display=swap');

*{
    margin: 0;
    font-family: 'Azeret Mono', monospace;
    color: #0d1321;
}

/* Style for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.nav-title {
    color: #0d1321;
    font-family: 'Azeret Mono', monospace;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.btn {
    border: 2px solid #0d1321;
    border-radius: 8px;
    
    padding: 17px 24px;
    color: #0d1321;

    font-family: 'Azeret Mono', monospace;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.btn:hover {
    background-color: darkorange;
}


/* Style for Hero Section */

.hero-section{
    background: url("./images/Hero-bg.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px;
}
.hero-icon{
    margin: 32px;
}

.hero-icon img{
    width: 200px;
    height: 200px;
}

.hero-title{
    color: #0d1321;
    
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.hero-subtitle{
    color: #0d1321;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.contactMe{
    color: white;
    font-size: 20px;
    font-weight: 600;
    background: #0d1321;
}

main{
    margin: auto 50px;
}


/* Why Web Development Style */

.why-webDev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin: 50px 80px;
    padding: 50px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.reason-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reason-title{
    color: #0d1321;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.reason-subtitle{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
}

.reason-card{
    border-radius: 16px;
    background: linear-gradient(90.00deg, #ffffff, #ffffff00 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 20px;
}

.reason-card-2{
    flex-direction: row-reverse;
    background: linear-gradient(-90.00deg, #ffffff, #ffffff00 100%);
}

.card-title{
    color: #0d1321b3;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.card-details{
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    text-align:justify;
    margin: 16px 0px;
}

.learnMore{
    border: 1px solid #0d1321;
    border-radius: 0;
    opacity: 0.7;
    background-color: transparent;
    margin-top: 16px;
}

/* My Inspiration Style */
.my-inspiration{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 36px;
}
.inspiration-description{
    padding: 0px 48px;
}

.insp-title{
    color: #0d1321;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.insp-details{
    color: #0d1321;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    padding: 24px;
}

.insp-videos{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 36px;
}
.insp-videos iframe {
    border-radius: 16px;
}

/* My Current Target Style */
.current-target{
    padding: 36px;
}

.target-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 36px;
}

.target-title{
    color: #0d1321;
    font-size: 32px;
    font-weight: 800;
}

.target-details{
    color: #0d1321;
    font-weight: 400;
    opacity: 0.7;
    margin: 24px;
}

.target-cards{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 36px;
    padding: 24px;
}

.target-card-html {
    background: #ff4c1e0d;
}

.target-card-css {
    background-color: #004ce80d;
}

.target-card-js {
    background-color: #ffdf000d;
}

.target-card {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: start;
    border-radius: 16px;
    gap: 24px;
    padding: 24px;
    flex: 1;
    min-height: 300px;
}

.target-card img {
    width: 56px;
    height: 56px;
}

.card-title{
    color: #0d1321;
    font-size: 24px;
    font-weight: 800;
}

.card-btn {
    font-size: 16px;
    font-weight: 700;
    text-align: start;
    color: #0d1321;
    border: none;
    padding: 0;
    background-color: transparent;
    text-decoration: underline;
    color: rgb(13, 19, 33);
}

/* Support Style */

.support {
    border-radius: 16px;
    background: linear-gradient(#00000080, #00000080), url("./images/handshake.jpg") no-repeat center center/cover;
    padding: 50px;
}


.support-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.support-subtitle {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    padding: 24px;
    margin: 24px;
}

.support-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

.support-form input{
    font-size: 20px;
    padding: 17px 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 60%;
    color: #0d132166;
}

input::placeholder{
    opacity: 0.7;
}



.submit-btn{
    color: #0d1321;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
}


/* Footer Style */

.footer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 16px;
    background: #0d132108;
    margin-top: 24px;
}


.copyright {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    text-decoration: none;
}

